diffusers==0.25.1
torch==2.1.0
torchaudio==2.0.2
torchvision==0.15.2
transformers==4.40.2
accelerate
safetensors
einops
spaces==0.19.4
omegaconf
peft
huggingface-hub==0.24.5
opencv-python
insightface
gradio
controlnet_aux
gdown
peft
#cuda 18 pip install torch==2.1.0 torchvision==0.16.0 torchaudio==2.1.0 --index-url https://download.pytorch.org/whl/cu118
#pip install xformers==0.0.22.post4 --index-url https://download.pytorch.org/whl/cu118